@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&family=Raleway:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 
 body{
    height: 100vh;
    font-family: 'Raleway', sans-serif;
 }
#whatsapp{
    position: fixed;
    align-self: flex-end;
    justify-self: flex-start;
    
}
.titulo{
    margin-left: 2vh;
    font-family: 'Qwitcher Grypen', cursive;
    text-shadow: 3px 3px 3px #929191;
    color: rgb(14, 13, 13);
    font-size:xx-large;
    
    
}

.menu{
    width: 98%;
    height: 9vh;
}

.menu ul {
    list-style: none;
    padding: 0;
    background-color: white;
}

.menu li {
    display: inline-block;
    position: relative;
}

.menu a {
    display: block;
    padding: 10px 20px;
    color: #252525;
    text-decoration: none;
}

/* Estilo del menú desplegable */
.submenu {
    display: none;
    position: absolute;
    background-color: white;
}

.submenu li {
    display: block;
}

/* Mostrar el menú desplegable al pasar el cursor */
.menu li:hover .submenu {
    display: block;
}

/* Estilo al pasar el cursor sobre el menú principal */
.menu li:hover a {
    background-color: white;
}
#cuenta{
    justify-self: 
    end;
}
#article1{
    display: block;
    width: 100%;
    height: 30vh;
}
#section1{
    display: inline-block;
    width: 100%;
    

}
article section img{
   width:100% ;
   height: auto;
}