@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&family=Raleway:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

#whatsapp {
    position: fixed;
    align-self: flex-end;
    justify-self: flex-start;
}

.menu {
    width: 100%;
    height: 9vh;
    position: relative;
}

.menu ul {
    list-style: none;
    background-color: white;
}

.menu li {
    display: inline-block;
    position: relative;
}

.menu a {
    display: block;
    padding: 10px 10px;
    color: #252525;
    text-decoration: none;
}

.submenu {
    display: none;
    background-color: white;
    z-index: 1;
    position: absolute;
}

.submenu li {
    display: block;
}

.menu li:hover .submenu {
    display: block;
}

.col {
    width: 100%;
    padding: 2px;
}

.imagen {
    width: 100vh;
    transition: transform 0.5s ease-in-out;
}

.btn-custom {
    background-color: white;
    border-color: white;
    color: #252525;
}

.btn-custom:hover {
    background-color: #929191;
}

#formulario {
    background-color: #252525;
    color: white;
}

a {
    text-decoration: none;
    color: #252525;
}

a:hover {
    color: #929191;
}

.contenedor:hover .imagen {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.contenedor {
    overflow: hidden;
}

#patinadora {
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    z-index: 0;
}

.titulo {
    margin-left: 2vh;
    font-family: 'Qwitcher Grypen', cursive;
    text-shadow: 3px 3px 3px #929191;
    color: rgb(14, 13, 13);
    font-size: xx-large;
    margin: 0;
    padding: 0;
    
    
}

